body {
    background: #25282A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Caveat', cursive;
}

.slider-container {
    max-width: 50em;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.comment {
    display: flex;
    justify-content: space-between;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.slider-image {
    max-width: 50em;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 0.625em;
}

.slider-dots {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.slider-dot {
    margin: 0.625em  0.312em;
    width: 0.625em;
    height: 0.625em;
    background-color: #fff;
    border-radius: 50%;
}

.slider-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

@media (max-width: 500px) {
    .comment {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider-dots {
        align-self: center;
        padding-bottom: 0.625em;
    }
}