html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background: #25282A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Caveat', cursive;
}

.slider-container {
    max-width: 46.875em;
    padding: 0 1.25em;
}

.comment {
    display: flex;
    justify-content: space-between;
    padding: 0.625em 0;
}

.img-container {
    display: flex;
    overflow: hidden;
    max-width: 46.875em;
    border-radius: 0.625em;
}

.imgs {
    display: flex;
    flex-direction: row;
    max-width: 46.875em;
    transition: transform 0.8s ease;
}

.slider-image {
    width: 100%;
    margin-right: 1.25em;
    height: auto;
    background-color: #fff;
    border-radius: 0.625em;
}

.slider-dots {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.slider-dot-box {
    display: flex;
    height: 1.875em;
    width: 1.25em;
    background-color: #25282A;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.slider-dot {
    width: 0.485em;
    height: 0.485em;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.8s, border 0.8s; 
    border: 0.14em solid transparent;
}

.slider-dot-box:hover .slider-dot,
.slider-dot-box.active .slider-dot {
    background-color: transparent;
    border: 0.14em solid #fff; 
}

.title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 0.8s cubic-bezier(0.4, 0, 1, 1) forwards, moveX 0.8s cubic-bezier(0.4, 0, 1, 1) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveX {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title.active {
    opacity: 1;
   
}

.slider-title {  
    display: none;
}

.slider-title.active {
    display: block;
}

@media (max-width: 500px) {
    .comment {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider-dots {
        align-self: center;
    }
}
